//reuseable color component
$heading-style-color: #304751;
$heading-color: #AD6C12;
$gray-color: #D4D8D9;
$mata-color: #2a3b40;
$white-color: #ffffff;

//reuseable font-size component
$heading-102: 102px;
$heading-77: 77px;
$heading-48: 48px;
$heading-33: 33px;
$heading-35: 35px;
$heading-28: 28px;
$para-19: 19px;
$para-17: 17px;
$para-14: 14px;