* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1440px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  outline: 0;
}

::-webkit-input-placeholder {
  color: #ffffff;
}

:-ms-input-placeholder {
  color: #ffffff;
}

::-ms-input-placeholder {
  color: #ffffff;
}

::placeholder {
  color: #ffffff;
}

.base-heading1, .product-title h2, .discover-area .overly-color .discover-title h2, .contact-area .container .contact-title h2, .blog-area .container .blog-title h2 {
  color: #304751;
  font-size: 77px;
  line-height: 85px;
  font-family: 'Cookie', cursive;
  text-align: center;
  text-transform: capitalize;
}

.base-heading2, .product-title h3, .discover-area .overly-color .discover-title h3, .blog-area .container .blog-title h3 {
  color: #AD6C12;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.header-area {
  background-image: url(./images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.header-area .container .row .logo {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.header-area .container .row .logo a {
  color: #ffffff;
  display: inline-block;
  font-size: 35px;
  font-weight: bold;
  padding: 40px 40px;
  text-transform: uppercase;
}

.header-area .container .row nav {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  text-align: center;
}

.header-area .container .row nav ul {
  margin: 0;
}

.header-area .container .row nav ul li {
  display: inline-block;
  padding: 40px 0;
}

.header-area .container .row nav ul li a {
  color: #ffffff;
  font-size: 33px;
  font-weight: bold;
  padding: 20px 10px;
  text-transform: uppercase;
}

.heading-title, .header-content h2 {
  color: #304751;
  font-size: 102px;
  font-family: 'Cookie', cursive;
  text-transform: capitalize;
}

.header-content {
  background-color: #D4D8D9;
  left: 50%;
  margin: auto;
  opacity: .8;
  position: absolute;
  padding: 91px 104px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  top: 50%;
}

.header-content .sub-heading {
  color: #AD6C12;
  font-size: 77px;
  line-height: 87px;
  min-width: 550px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.header-content .btn-primary {
  background-color: #ffffff;
  border: none;
  font-size: 35px;
  padding: 9px 26px;
  text-transform: uppercase;
}

.navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar ul li {
  display: inline-block;
  list-style: none;
  padding: 0 20px;
}

.navbar a {
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 18px 0px;
  position: relative;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.navbar a::after {
  bottom: 6px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 100%;
}

.navbar li:hover a::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.togglearea {
  background-color: #887777;
  display: none;
}

#toggle {
  display: none;
}

.togglearea label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
  width: 25px;
}

label span {
  background-color: black;
  display: inline-block;
  height: 2px;
  margin: 2px 0;
  width: 70%;
}

#toggle:checked + .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.traditional-flavour-area {
  background-color: #2a3b40;
}

.traditional-flavour-area .traditional-contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.traditional-flavour-area .traditional-contant .traditional-left {
  -ms-flex-preferred-size: 46%;
      flex-basis: 46%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.traditional-flavour-area .traditional-contant .traditional-left h3 {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  padding-bottom: 30px;
  text-transform: lowercase;
}

.traditional-flavour-area .traditional-contant .traditional-left p {
  color: #ffffff;
  font-size: 19px;
  line-height: 30px;
}

.traditional-flavour-area .traditional-contant .traditional-right {
  -ms-flex-preferred-size: 46%;
      flex-basis: 46%;
}

.traditional-flavour-area .traditional-contant .traditional-right img {
  padding: 61px;
}

.angle, .new-area .new-content .new-left .rectangle, .new-area .new-content .new-center .rectangle, .new-area .new-content .new-right .rectangle, .cuisine-brand-area .cuisine-title div.rectangle {
  background-color: #2a3b40;
  border-radius: 50%;
  display: inline-block;
  height: 31px;
  padding: 0 5px;
  width: 31px;
}

.new-heading, .new-area .new-content .new-left h4, .new-area .new-content .new-center h4, .new-area .new-content .new-right h4 {
  font-size: 19px;
  font-weight: bold;
  margin: 15px 0;
  text-transform: capitalize;
}

.new-para, .new-area .new-content .new-left p, .new-area .new-content .new-center p, .new-area .new-content .new-right p {
  font-size: 17px;
  line-height: 27px;
}

.new-area {
  background-color: #ffffff;
  color: #2a3b40;
}

.new-area .new-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 165px 180px;
}

.new-area .new-content .new-left {
  width: 33.333%;
}

.new-area .new-content .new-center {
  width: 33.333%;
}

.new-area .new-content .new-right {
  width: 33.333%;
}

.product-area {
  background-image: url(./images/banner-3.png);
  background-size: cover;
  padding: 75px;
  background-repeat: no-repeat;
}

.product-title {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 54px 0 28px 0;
  text-align: center;
}

.product-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.product-show, .product-show1, .product-show2, .product-show3, .product-show4, .product-show5, .product-show6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-color: #ffffff;
}

.product-show1 {
  background-color: rgba(255, 255, 255, 0.8);
}

.product-show3 {
  background-color: rgba(255, 255, 255, 0.8);
}

.product-show4 {
  background-color: rgba(255, 255, 255, 0.8);
}

.product-show5 {
  background-color: rgba(255, 255, 255, 0.8);
}

.product-image {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 100%;
}

.product-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: auto;
  text-align: center;
}

.product-text h4 {
  font-size: 19px;
  font-weight: bold;
  line-height: 29px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.product-text p {
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 1px;
  padding: 0px 56px;
  padding-bottom: 20px;
}

.product-text span, .product-text sub {
  font-size: 17px;
  font-weight: bold;
}

.w-50 {
  width: 50%;
}

.cuisine-brand-area {
  background-image: url(./images/traditional-bg.jpg);
  background-color: #D4D8D9;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 72px 0 72px 0;
}

.cuisine-brand-area .cuisine-title {
  color: #2a3b40;
  text-align: center;
}

.cuisine-brand-area .cuisine-title h3 {
  font-size: 29px;
  line-height: 39px;
  font-weight: bold;
  letter-spacing: 1px;
}

.cuisine-brand-area .cuisine-title p {
  font-size: 19px;
  line-height: 33px;
  padding: 20px 268px;
}

.cuisine-brand-area .cuisine-title div.rectangle {
  margin: 17px 0 27px 0;
}

.cuisine-brand-area .cuisine-title .cuisine-self {
  text-align: center;
}

.cuisine-brand-area .cuisine-title .cuisine-self ul li {
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  padding: 7px 33px;
}

.discover-area {
  background-image: url(./images/banner-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 320px;
}

.discover-area .overly-color {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 90px 0;
}

.discover-area .overly-color .discover-menu-list {
  color: #304751;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.discover-area .overly-color .discover-menu-list .discover-left-menu {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.discover-area .overly-color .discover-menu-list .discover-left-menu .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
}

.discover-area .overly-color .discover-menu-list .discover-left-menu .content .discove-image {
  background-color: #ffffff;
  height: 81px;
  line-height: 104px;
  margin-left: 40px;
  text-align: center;
  width: 81px;
  border-radius: 50%;
}

.discover-area .overly-color .discover-menu-list .discover-left-menu .d-menu-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-left: 20px;
}

.discover-area .overly-color .discover-menu-list .discover-left-menu .d-menu-text h4 {
  font-size: 19px;
  font-weight: bold;
  line-height: 29px;
  text-transform: uppercase;
}

.discover-area .overly-color .discover-menu-list .discover-left-menu .d-menu-text p {
  font-size: 17px;
  line-height: 25px;
}

.discover-area .overly-color .discover-menu-list .discover-left-menu .d-menu-text p span, .discover-area .overly-color .discover-menu-list .discover-left-menu .d-menu-text p sub {
  font-size: 17px;
  font-weight: bold;
  line-height: 25px;
}

.discover-area .overly-color .discover-right-menu {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.discover-area .overly-color .discover-right-menu .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
}

.discover-area .overly-color .discover-right-menu .content .discove-image {
  background-color: #ffffff;
  height: 81px;
  line-height: 104px;
  margin-left: 40px;
  text-align: center;
  width: 81px;
  border-radius: 50%;
}

.discover-area .overly-color .discover-right-menu .content .d-menu-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-left: 20px;
}

.discover-area .overly-color .discover-right-menu .content .d-menu-text h4 {
  font-size: 19px;
  font-weight: bold;
  line-height: 29px;
  text-transform: uppercase;
}

.discover-area .overly-color .discover-right-menu .content .d-menu-text p {
  font-size: 17px;
  line-height: 25px;
}

.discover-area .overly-color .discover-right-menu .content .d-menu-text p span, .discover-area .overly-color .discover-right-menu .content .d-menu-text p sub {
  font-size: 17px;
  font-weight: bold;
  line-height: 25px;
}

.w51-h27 {
  height: 27px;
  width: 51px;
}

.w41-h41 {
  height: 41px;
  width: 41px;
}

.w48-h42 {
  height: 42px;
  width: 48px;
}

.w60-h36 {
  height: 36px;
  width: 60px;
}

.w59-h41 {
  height: 41px;
  width: 59px;
}

.w58-h34 {
  height: 34px;
  width: 58px;
}

.contact-area {
  background-color: #2a3b40;
  color: #ffffff;
  padding: 30px 0 50px 0;
}

.contact-area .container .contact-title h2 {
  color: #ffffff;
  margin-bottom: 10px;
}

.contact-area .container .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-area .container .contact-form .form-left form label {
  display: block;
  margin-bottom: 10px;
}

.contact-area .container .contact-form .form-left form select {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 30px;
  outline: none;
  padding: 5px;
  width: 100%;
}

.contact-area .container .contact-form .form-left form select option {
  background-color: #304751;
}

.contact-area .container .contact-form .form-left form input[type='text'] {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #ffffff;
  font-size: 14px;
  padding: 5px;
}

.contact-area .container .contact-form .form-center form label {
  display: block;
  margin-bottom: 10px;
}

.contact-area .container .contact-form .form-center form .input-wrapper::before {
  content: "\f073";
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  position: absolute;
  top: 5px;
  right: 10px;
}

.contact-area .container .contact-form .form-center form .input-wrapper {
  position: relative;
}

.contact-area .container .contact-form .form-center form .input-wrapper input {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #ffffff;
  font-size: 14px;
  margin-bottom: 30px;
  padding: 5px;
  width: 100%;
}

.contact-area .container .contact-form .form-center form input[type='email'] {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #ffffff;
  font-size: 14px;
  padding: 5px;
  margin-bottom: 30px;
  width: 100%;
}

.contact-area .container .contact-form .form-center form input[type='submit'] {
  color: #ffffff;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #ffffff;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px;
  width: 100%;
}

.contact-area .container .contact-form .form-right form label {
  display: block;
  margin-bottom: 10px;
}

.contact-area .container .contact-form .form-right form .time-wrapper {
  position: relative;
}

.contact-area .container .contact-form .form-right form .time-wrapper::before {
  content: "\f017";
  font-family: "Font Awesome 6 Free";
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 8px;
  right: 10px;
}

.contact-area .container .contact-form .form-right form input[type='text'] {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #ffffff;
  font-size: 14px;
  padding: 5px;
  margin-bottom: 30px;
  width: 100%;
}

.contact-area .container .contact-form .form-right form input[type='number'] {
  color: #ffffff;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #ffffff;
  font-size: 14px;
  font-weight: bolder;
  padding: 5px;
}

.blog-area {
  background-color: #D4D8D9;
  padding: 20px 0 100px 0;
}

.blog-area .container .blog-title h3 {
  margin-bottom: 40px;
}

.blog-area .container .blog-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  max-width: 90%;
}

.blog-area .container .blog-content-wrapper .single-blog {
  margin: 0 20px;
}

.blog-area .container .blog-content-wrapper .single-blog .blog-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-area .container .blog-content-wrapper .single-blog .blog-text {
  background-color: #ffffff;
  padding: 0 10px 20px 10px;
}

.blog-area .container .blog-content-wrapper .single-blog .blog-text span {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 12px 0;
  display: inline-block;
}

.blog-area .container .blog-content-wrapper .single-blog .blog-text h5 {
  font-size: 17px;
  font-weight: bold;
  line-height: 27px;
  margin-bottom: 10px;
}

.blog-area .container .blog-content-wrapper .single-blog .blog-text p {
  font-size: 17px;
  line-height: 27px;
}

.blog-area .container .blog-content-wrapper .single-blog .blog-text .blog-btn a {
  border-bottom: 3px solid #ff992b;
  color: #555;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 0;
}

.brand-area {
  background-color: #2a3b40;
  color: #ffffff;
  padding: 10px 0 40px 0;
  text-align: center;
}

.brand-area .container .brand-content .quoat-icon i {
  display: block;
  font-size: 43px;
  padding: 25px 0;
  text-align: center;
}

.brand-area .container .brand-content p {
  font-size: 17px;
  line-height: 29px;
  max-width: 650px;
  margin: auto;
}

.brand-area .container .brand-content h5 {
  font-size: 19px;
  font-weight: bold;
  line-height: 29px;
  padding: 10px 0 15px 0;
}

.brand-area .container .brand-content .brand-social-icon i {
  border-radius: 50%;
  color: #2a3b40;
  display: inline-block;
  font-size: 24px;
  background-color: #ffffff;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 15px;
  width: 40px;
}

.footer-area {
  background-color: #D4D8D9;
  padding: 50px 0;
}

.footer-area .container .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 90%;
  margin: auto;
}

.footer-area .container .footer-wrapper .footer-text {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 0 70px;
}

.footer-area .container .footer-wrapper .footer-text h3 {
  color: #2a3b40;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 20px;
}

.footer-area .container .footer-wrapper .footer-text p {
  color: #2a3b40;
  font-size: 19px;
  line-height: 29px;
}

.footer-area .container .footer-wrapper .footer-list {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.footer-area .container .footer-wrapper .footer-list .about h4 {
  color: #2a3b40;
  font-size: 21px;
  font-weight: bold;
  line-height: 27px;
  margin-bottom: 35px;
}

.footer-area .container .footer-wrapper .footer-list ul li a {
  color: #2a3b40;
  font-size: 19px;
  font-weight: 600;
  line-height: 30px;
}

.footer-area .container .footer-wrapper .footer-list .normal-weight li a {
  font-weight: 400;
}

@media (max-width: 1288px) {
  .new-area .new-content {
    padding: 165px 170px;
  }
  .product-text p {
    padding: 0px 25px 15px 25px;
  }
  .cuisine-brand-area {
    padding: 0px 0 27px 0px;
  }
}

@media (max-width: 1199px) {
  .header-area {
    height: 80vh;
  }
  .header-area .container .row .logo a {
    font-size: 25px;
  }
  .header-area .container .row nav ul li a {
    font-size: 25px;
  }
  .header-content {
    padding: 30px 20px;
  }
  .heading-title, .header-content h2, .header-content h2 {
    font-size: 80px;
  }
  .header-content .sub-heading {
    font-size: 60px;
    line-height: 70px;
    min-width: 480px;
  }
  .header-content .btn-primary {
    font-size: 30px;
  }
  .traditional-flavour-area .traditional-contant .traditional-left {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  .traditional-flavour-area .traditional-contant .traditional-right {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  .new-area .new-content {
    padding: 100px 20px;
  }
  .product-title {
    padding: 28px 0 28px 0;
  }
  .product-text p {
    font-size: 15px;
    line-height: 23px;
    padding: 0px 10px 15px 10px;
  }
  .product-text h4 {
    font-size: 17px;
    line-height: 27px;
    padding-bottom: 10px;
  }
  .cuisine-brand-area {
    background-size: contain;
    padding: 25px 0px 25px 0px;
  }
  .cuisine-brand-area .cuisine-title p {
    font-size: 17px;
    line-height: 27px;
    padding: 20px 231px;
  }
  .discover-area .overly-color {
    padding: 40px 0;
  }
  .footer-area .container .footer-wrapper .footer-text p {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 991px) {
  .header-area {
    height: 70vh;
  }
  .header-area .container .row .logo a {
    font-size: 25px;
    padding: 40px 30px;
  }
  .header-area .container .row nav ul li a {
    font-size: 23px;
    padding: 20px 10px;
  }
  .heading-title, .header-content h2, .header-content h2, .header-content h2 {
    font-size: 65px;
  }
  .header-content .sub-heading {
    font-size: 55px;
    line-height: 63px;
  }
  .traditional-flavour-area .traditional-contant .traditional-left h3 {
    font-size: 22px;
    line-height: 32px;
    padding-bottom: 10px;
  }
  .traditional-flavour-area .traditional-contant .traditional-left p {
    font-size: 17px;
    line-height: 27px;
    letter-spacing: .7px;
  }
  .traditional-flavour-area .traditional-contant .traditional-right img {
    padding: 30px;
  }
  .product-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cuisine-brand-area .cuisine-title p {
    padding: 20px 120px;
  }
  .discover-area .overly-color .discover-menu-list .discover-left-menu .content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .discover-area .overly-color .discover-right-menu .content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .discover-area .overly-color .discover-menu-list .discover-left-menu .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
  }
  .discover-area .overly-color .discover-right-menu .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .discover-area .overly-color .discover-right-menu .content .d-menu-text {
    -ms-flex-preferred-size: 50%;
    margin: 0 20px 0 0;
  }
  .blog-area .container .blog-content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 70%;
  }
  .blog-area .container .blog-content-wrapper .single-blog .blog-text span {
    font-size: 17px;
  }
  .blog-area .container .blog-content-wrapper .single-blog .blog-text h5 {
    font-size: 19px;
  }
  .blog-area .container .blog-content-wrapper .single-blog .blog-text {
    padding: 0 25px 20px 25px;
  }
  .blog-area .container .blog-content-wrapper .single-blog .blog-text p {
    font-size: 19px;
    line-height: 29px;
  }
  .blog-area .container .blog-content-wrapper .single-blog .blog-text .blog-btn a {
    padding: 15px 0px 20px 10px;
  }
  .footer-area .container .footer-wrapper .footer-text {
    padding: 0 25px;
  }
}

@media (max-width: 767px) {
  .header-area .container .row .logo a {
    font-size: 20px;
    padding: 20px 14px;
    text-decoration: underline;
  }
  .header-area .container .row nav ul li {
    padding: 20px 0;
  }
  .header-area .container .row nav ul li a {
    font-size: 18px;
    padding: 0 14px;
  }
  .traditional-flavour-area .traditional-contant .traditional-left {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .traditional-flavour-area .traditional-contant .traditional-right {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-right: 27px;
  }
  .traditional-flavour-area .traditional-contant .traditional-left h3 {
    padding: 20px 0;
  }
  .traditional-flavour-area .traditional-contant .traditional-right img {
    padding: 10px;
  }
  .traditional-flavour-area .traditional-contant .traditional-left p {
    font-size: 13px;
    padding-bottom: 10px;
    line-height: 25px;
  }
  .new-area .new-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .new-heading, .new-area .new-content .new-left h4, .new-area .new-content .new-center h4, .new-area .new-content .new-right h4, .new-area .new-content .new-left h4, .new-area .new-content .new-center h4, .new-area .new-content .new-right h4 {
    font-size: 28px;
    font-weight: 400;
    margin: 15px 0;
  }
  .new-para, .new-area .new-content .new-left p, .new-area .new-content .new-center p, .new-area .new-content .new-right p, .new-area .new-content .new-left p, .new-area .new-content .new-center p, .new-area .new-content .new-right p {
    font-size: 20px;
    line-height: 30px;
    min-width: 350px;
  }
  .new-area .new-content {
    padding: 30px 20px;
  }
  .new-area .new-content .new-center {
    margin: 50px 0;
  }
  .discover-area .overly-color .discover-right-menu .content .discove-image {
    margin-left: 0px;
  }
  .discover-area .overly-color .discover-menu-list .discover-left-menu .content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .discover-area .overly-color .discover-right-menu .content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .discover-area .overly-color .discover-menu-list .discover-left-menu .content .discove-image {
    margin-left: 0px;
  }
  .brand-area .container .brand-content p {
    padding: 0 20px;
  }
  .contact-area .container .contact-form .form-left form select {
    width: 75%;
    margin-left: 10px;
  }
  .contact-area .container .contact-form .form-left form input[type='text'] {
    margin-left: 10px;
  }
  .contact-area .container .contact-form .form-left form label {
    margin-left: 10px;
  }
  input {
    width: 75%;
  }
  .contact-area .container .contact-form .form-center form .input-wrapper input {
    width: 75%;
  }
  .contact-area .container .contact-form .form-center form .input-wrapper::before {
    right: 30%;
  }
  .contact-area .container .contact-form .form-center form input[type='email'] {
    width: 75%;
  }
  .contact-area .container .contact-form .form-center form input[type='submit'] {
    width: 75%;
  }
  .contact-area .container .contact-form .form-right form input[type='text'] {
    width: 75%;
  }
  .contact-area .container .contact-form .form-right form .time-wrapper::before {
    right: 30%;
  }
}

@media (max-width: 575px) {
  .header-area .container .row .logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header-area .container .row nav ul li {
    display: block;
  }
  .header-content {
    display: none;
  }
  .header-area {
    height: 32vh;
    position: relative;
    z-index: 11;
  }
  .header-area::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -222;
  }
  .traditional-flavour-area .traditional-contant {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .traditional-flavour-area .traditional-contant .traditional-left {
    padding: 0px 10px;
  }
  .new-area .new-content .new-left,
  .new-area .new-content .new-center,
  .new-area .new-content .new-right {
    width: 100%;
  }
  .new-heading, .new-area .new-content .new-left h4, .new-area .new-content .new-center h4, .new-area .new-content .new-right h4, .new-area .new-content .new-left h4, .new-area .new-content .new-center h4, .new-area .new-content .new-right h4, .new-area .new-content .new-left h4, .new-area .new-content .new-center h4, .new-area .new-content .new-right h4 {
    font-size: 22px;
  }
  .new-para, .new-area .new-content .new-left p, .new-area .new-content .new-center p, .new-area .new-content .new-right p, .new-area .new-content .new-left p, .new-area .new-content .new-center p, .new-area .new-content .new-right p, .new-area .new-content .new-left p, .new-area .new-content .new-center p, .new-area .new-content .new-right p {
    font-size: 18px;
    line-height: 28px;
  }
  .new-area .new-content .new-center {
    margin: 30px 0;
  }
  .product-area {
    padding: 0;
  }
  .container {
    padding: 0;
  }
  .product-text p {
    font-size: 14px;
    line-height: 22px;
    padding: 0px 10px 0px 10px;
  }
  .cuisine-brand-area .cuisine-title h3 {
    font-size: 22px;
    line-height: 32px;
  }
  .cuisine-brand-area .cuisine-title p {
    padding: 15px 30px;
  }
  .cuisine-brand-area .cuisine-title .cuisine-self ul li {
    padding: 7px 19px;
  }
  .cuisine-brand-area .cuisine-title div.rectangle {
    margin: 4px 0 10px 0;
  }
  .discover-area {
    padding-top: 0;
  }
  .blog-area .container .blog-content-wrapper {
    max-width: 100%;
  }
  .product-title {
    padding: 10px 0 13px 0;
  }
  .base-heading1, .product-title h2, .discover-area .overly-color .discover-title h2, .contact-area .container .contact-title h2, .blog-area .container .blog-title h2, .product-title h2, .discover-area .overly-color .discover-title h2, .contact-area .container .contact-title h2, .blog-area .container .blog-title h2 {
    font-size: 55px;
    line-height: 65px;
  }
  .base-heading2, .product-title h3, .discover-area .overly-color .discover-title h3, .blog-area .container .blog-title h3, .product-title h3, .discover-area .overly-color .discover-title h3, .blog-area .container .blog-title h3 {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 10px;
  }
  .discover-area .overly-color .discover-menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .discover-area .overly-color .discover-right-menu .content {
    padding: 0px 30px;
  }
  .discover-area .overly-color .discover-menu-list .discover-left-menu .content {
    padding: 0 30px;
  }
  .discover-area .overly-color .discover-menu-list .discover-left-menu .content .discove-image {
    height: 70px;
    line-height: 93px;
    margin: 0 0 15px 20px;
    width: 70px;
  }
  .discover-area .overly-color .discover-menu-list .discover-left-menu .content {
    margin: 20px 0;
  }
  .discover-area .overly-color .discover-right-menu .content .discove-image {
    border-radius: 50%;
    height: 70px;
    line-height: 93px;
    margin: 0 0 15px 20px;
    width: 70px;
  }
  .discover-area .overly-color {
    padding: 20px 0;
  }
  .blog-area {
    padding: 20px 0 0px 0;
  }
  .discover-area .overly-color .discover-right-menu .content {
    margin: 0;
  }
  .contact-area .container .contact-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 20px;
  }
  .contact-area .container .contact-form .form-left form select,
  .contact-area .container .contact-form .form-left form input[type='text'] {
    margin-left: 0;
  }
  .contact-area .container .contact-form .form-center form label {
    margin: 30px 0 12px 0;
  }
  .contact-area .container .contact-form .form-center form .input-wrapper input {
    margin-bottom: 13px;
  }
  .contact-area .container .contact-form .form-center form .input-wrapper input {
    margin-bottom: 0px;
  }
  .contact-area .container .contact-form .form-center form input[type='email'] {
    margin-bottom: 60px;
  }
  .contact-area .container .contact-form .form-center form input[type='submit'] {
    margin-bottom: 30px;
  }
  .footer-area .container .footer-wrapper {
    padding: 0 30px;
  }
  .footer-area .container .footer-wrapper .footer-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .footer-area .container .footer-wrapper .footer-text h3 {
    margin-bottom: 5px;
  }
  .footer-area .container .footer-wrapper .footer-list .about h4 {
    margin-bottom: 10px;
  }
  .footer-area .container .footer-wrapper .footer-list .about h4 {
    margin-bottom: 10px;
    padding-top: 20px;
  }
  .footer-area .container .footer-wrapper .footer-list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .brand-area .container .brand-content .brand-social-icon i {
    margin: 0 10px;
  }
  .footer-area .container .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 10px;
  }
  .footer-area .container .footer-wrapper {
    padding: 0;
  }
  .footer-area .container .footer-wrapper .footer-text {
    padding: 0;
  }
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .togglearea {
    display: block;
  }
  .navbar li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .togglearea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-area nav {
    display: none;
  }
  .navbar ul li {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */